<%- include('header') %>

    <div class="container" style="margin: 60px 0px 0px 20px; text-align: center; padding-top: 10%;">
        <h1>Welcome to Our Website</h1>

        <h2>Please choose a country above to continue</h2>

    </div>

<%- include('footer') %>